@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.processSection {
  background-color: #fff;
  position: relative;
  padding-top: 6rem; 
}

.processContent {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.leftContent {
  margin-left: 300px;
}

.label {
  color: #121212;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.label::before {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #000;
  display: inline-block;
}

.steps {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
}

.stepNumber {
  font-family: "Poppins", sans-serif;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10.32px;
  color: #666;
  cursor: pointer;
  transition: all 0.2s ease;
}

.stepNumber:hover {
  background-color: #3157d5;
  border-color: #3157d5;
  color: #fff;
}

.step:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 1rem;
  height: 1px;
  background-color: #ddd;
}

.stepActive .stepNumber {
  background-color: #3E73E6; 
  border-color: #3E73E6;
  color: #fff;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 1.5rem;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color:#121212BF;
  max-width: 350px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.button {
  background-color: #3E73E6;
  font-family: "Poppins", sans-serif; 
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  justify-content: center;
}

.button:hover {
  background-color: #6393FC;
}

.deviceMockup {
  position: relative;
  flex-shrink: 0;
}

.laptop {
  width: 800px; 
  height: auto;
}

.laptopMobile {
  display: none;
}

.screenContent {
  position: absolute;
  top: 4%; 
  left: 19%; 
  width: 100%; 
  height: 70.3%; 
  object-fit: cover; 
}

.accent {
  position: absolute;
  width: 180px; 
  height: 180px; 
  background-color: rgba(62, 115, 230, 0.47); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: 0.2s ease-in-out;
}

.accent:hover {
  background-color: rgba(62, 168, 230, 0.47);
  backdrop-filter: blur(10px); 
}

.accentTop {
  top: -50px; 
  right: -50px; 
}

.accentBottom {
  height: 80px; 
  bottom: 200px; 
  left: 66px;
}

@media (max-width: 768px) {

  .processSection{
    padding-top: 64px; 
  }

  .title{
    font-size: 24px;
  }

  .description{
    font-size: 12px;
  }

  .button{
    padding: 12.34px 25.41px;
    font-size: 10px;
  }

  .leftContent{
    margin: 0;
  }

  .processContent{
    flex-direction: column;
  }

  .label::before {
    width: 36px;
  }

  .laptop {
    display: none; 
  }

  .laptopMobile {
    display: block;
    width: 100%; 
    max-width: 1200px;
    height: 330px; 
  }

  .accentTop {
    width: 95px;
    height: 110px;
    top: -30px; 
    right: 60px; 
  }

  .accentBottom {
    width: 95px;
    height: 45px;
    top: 175px; 
    left: 2px; 
  }
}