@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
  background-image: url(../../assets/background.png), 
                    linear-gradient(to top, #121212 0%, #121212 100%);
  background-color: #121212; /* Fallback para navegadores antigos */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 130vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .content {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 999;
    margin-top: 7rem;
  }
  
  .title {
    font-family: "Poppins", sans-serif;
    font-size: 3.12rem;
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
    line-height: 1.2;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .description {
    font-size: 0.9rem;
    font-family: "Raleway", sans-serif;
    color: #f5f5f5ad;
    font-weight: 400;
    margin-bottom: 2rem;
    max-width: 700px;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
  }
  
  .buttonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .buttonGroup a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .primaryButton,
  .secondaryButton {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0.75rem 1.5rem;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .primaryButton:hover,
  .secondaryButton:hover {
    transform: translateY(-2px);
  }
  
  .primaryButton {
    background-color: white;
    color: #000;
    border: none;
  }
  
  .secondaryButton {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
  }

  .secondaryButton:hover {
    background-color: #363636a5;
  }
  
  .browserFrame {
    width: 100%;
    max-width: 1200px;
    background: white;
    border-radius: 12px;
    height: 640px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  }
  
  .browserHeader {
    background: #f1f1f1;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .browserControls {
    display: flex;
    gap: 0.5rem;
  }
  
  .browserDot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
  }
  
  .browserDot:nth-child(1) { background: #ff5f57; }
  .browserDot:nth-child(2) { background: #ffbd2e; }
  .browserDot:nth-child(3) { background: #28c940; }
  
  .browserAddressBar {
    display: flex;
    align-items: center;
    flex: 1;
    height: 28px;
    background: white;
    border-radius: 4px;
  }

  .browserAddressBar a {
    color: #333;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }

  .browserAddressBar a:hover {
    color: rgba(0,96,199,1);
  }

  .browserAddressContent {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.4px;
    margin-left: 10px;
  }
  
  .browserActions {
    display: flex;
    gap: 0.5rem;
  }
  
  .browserAction {
    width: 20px;
    height: 20px;
    background: #ddd;
    border-radius: 4px;
  }
  
  .browserContent {
    height: 400px;
    background: linear-gradient(180deg, #fff 0%, #f5f5f5 100%);
  }

  .browserContent img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    object-fit: fill;
  }

  .overlay{
    position: absolute;
    width: 100%;
    height: 280px;
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0) 100%);
    bottom: 0;
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 25.95px;
      padding: 0;
    }

    .description{
      font-size: 12px;
    }
  
    .buttonGroup {
      padding: 0 2rem;
    }

    .primaryButton{
      font-size: 7.27px;
      padding: 6.15px 10.62px 6.15px 10.62px;
    }

    .secondaryButton{
      font-size: 7.27px;
      padding: 6.15px 10.62px 6.15px 10.62px;
    }
  
    .browserFrame {
      margin-top: 2rem;
    }
  }
  
  