@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.reviewsSection{
    width: 100%;
    min-height: 917px;
    background-color: white;
    overflow: hidden;
}

.content {
    text-align: center;
    width: 100%;
    max-width: 51.438rem;
    height: 219px;
    margin: 7.375rem auto 0 auto; 
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #3E73E6;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

    
.description { 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #121212;
    max-width: 900px;

    line-height: 1.6;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
}

.primaryButton {
    padding: 0.75rem 2.5rem;
    border-radius: 40px;
    border: 1px solid #3E73E6;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3E73E6;
    color: #ffff;
    transition: all 0.2s ease-in-out;
}

.secondaryButton {
    padding: 0.75rem 2.5rem;
    border-radius: 40px;
    border: 1px solid #3E73E6;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFF;
    color: #3E73E6;
    transition: all 0.2s ease-in-out;
}

.primaryButton:hover {
    background-color: #FFFF;
    color: #3E73E6;
}

.secondaryButton:hover {
  border: 1px solid #3E73E6;
  background-color: #3E73E6;
  color: #ffff;
}

.reviews {
    margin-top: 112px;
    height: 324px;
    width: 100%;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
      ); 
}

.slide {
    padding: 10px;
    border-radius: 30px;
    width: 690.84px;
    height: 324px;
    margin: 0 43px 0 43px;
    background-color: #cccccc27;
}

.comment {
    font-weight: 400;
    font-size: 19.44px;
    color: #121212BF;
    max-width: 545.4px;
    max-height: 87px;
    margin: 60.48px auto auto auto;
    font-family: "Poppins", sans-serif;
}

.helper {
    margin: 15px 0 71.719px 71.719px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.authorButton {
    font-weight: 500;
    font-size: 16.56px;
    border-radius: 66.77px;
    max-height: 32.26px;
    max-width: 181.92px;
    background-color: #3E73E6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    border: none;
    padding: 10px 20px;
}

.author {
    display: flex;
    margin: 40.719px 0 0 60.48px;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.author::before {
    content: "";
    width: 100%;
    max-width: 420px;
    height: 1px;
    background-color: #CCCCCC;
    display: inline-block;
}

.stars {
    width: 135px;
    height: 30px;
}

.jobs {
    font-weight: 500;
    font-size: 13.28px;
    border-radius: 45.2px;
    height: 28.57px;
    max-width: 208.64px;
    background-color: #6393FC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    padding: 0 20px;
}

@media (max-width: 768px) {
      
    .title {
        font-size: 2rem;
    }

    .buttonGroup {
        flex-direction: column;
        width: 100%;
    }

    .content {
        height: auto;
        padding: 32px;
    }

    .comment {
        font-size: 16px;
     }
        
    .slide {
        width: 300px;
    }

    .author {
        margin:40.719px 0 0 0;
    }
        
    .helper {
         margin: 10px 0 0 0;
    }

    .jobs{
        min-width: 160px;
        font-size: 10px;
    }

    .authorButton {
        min-width: 120px;
            
    }

    .author::before {
        width: 140px;
    }

    .reviews{
        margin: 0 0 56px 0;
    }
      }
      