@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.reviewsSection{
width: 100%;
height: 917px;
background-color: white;
overflow: hidden;
}

.content {
    text-align: center;
    width: 100%;
    max-width: 51.438rem;
    height: 219px;
    margin: 7.375rem auto 0 auto; 
}

    .title{
    font-weight: 700;
    font-size: 3.125rem;
    color: #3E73E6;
    align-self: center;
    height: 59px;
    font-family: "Poppins", sans-serif;
    }
    
    .description{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color:#121212BF;
    line-height: 1.6;
    height: auto;
    width: 100%;
    font-size: 1rem;
    align-self: center;
    margin-top: 26px;
    }

    .buttonGroup {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 2rem;
      }
    
      .buttonGroup a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
      }
      
      .primaryButton,
      .secondaryButton {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 0.75rem 1.5rem;
        border-radius: 15px;
        font-size: 0.9rem;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.2s ease;
      }
    
    .primaryButton:hover,
    .secondaryButton:hover {
      transform: translateY(-2px);
    }
    
    .primaryButton {
      background-color: #3E73E6;
      color: #F2F2F2;
      border: none;
    }
    
    .secondaryButton {
      background-color: transparent;
      color: #3E73E6;
      border: 1px solid #3E73E6;
      transition: 0.2s ease-in-out;
    }

    .secondaryButton:hover {
        background-color: #3E73E6;
        color: #F2F2F2;
      }

.reviews{
        margin-top: 112px;
        height: 324px;
        width: 100%;
        mask-image: linear-gradient(
            to right,
            transparent,
            #000 10% 90%,
            transparent
          );
    }

    .slide {
        padding: 10px;
        border-radius: 30px;
        width: 690.84px;
        height: 324px;
        margin: 0 43px 0 43px;
        background-color: #cccccc27;
    }

    .comment{
        font-weight: 400;
        font-size: 1rem;
        color: #121212BF;
        max-width: 545.4px;
        max-height: 87px;
        margin: 60.48px auto auto auto;
        font-family: "Poppins", sans-serif;
    }

    .helper{
        margin: 15px 0 71.719px 71.719px;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .authorButton{
        font-weight: 500;
        font-size: 16.56px;
        border-radius: 66.77px;
        max-height: 32.26px;
        max-width: 181.92px;
        background-color: #3E73E6;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Poppins", sans-serif;
        border: none;
        padding: 10px 20px;
    }

    .author{
        display: flex;
        margin: 40.719px 0 0 60.48px;
        width: auto;
        justify-content: space-between;
        align-items: center;
    }

    .author::before {
        content: "";
        width: 100%;
        max-width: 420px;
        height: 1px;
        background-color: #CCCCCC;
        display: inline-block;
      }

    .stars{
        width: 135px;
        height: 30px;
    }

    .jobs{
        font-weight: 500;
        font-size: 13.28px;
        border-radius: 45.2px;
        max-width: 208.64px;
        background-color: #6393FC;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Poppins", sans-serif;
        padding: 5px 20px;
    }

    @media (max-width: 768px) {

        .reviewsSection{
            height: auto;
        }
      
        .title {
          font-size: 27px;
          height: 32px;
        }

        .description{
            margin-top: 18px;
            font-size: 12px;
        }

        .buttonGroup{
            margin-top: 18px;
            width: 100%;
        }

        .primaryButton{
            font-size: 11.27px;
            padding: 8.15px 10.62px;
          }
      
          .secondaryButton{
            font-size: 11.27px;
            padding: 8.15px 10.62px;
          }

        .content{
            height: auto;
            padding: 64px 32px;
            margin: 0;
        }

        .comment{
            margin-top: 22px;
            font-size: 10.14px;
        }
        
        .slide{
            width: 350px;
            height: auto;
        }

        .author{
            margin:1.719px 0 0 0;
        }
        
        .helper{
            margin: 0;
            margin-bottom: 22px;
        }

        .jobs{
            height: 14.9px;
            padding: 2.31px 16.62px 2.31px 16.62px;
            font-size: 6.92px;
        }

        .authorButton{
            padding: 1.87px 21.9px 1.87px 21.9px;
            font-size: 8.64px;
        }

        .author::before {
            width: 195px;
          }

          .reviews{
            height: auto;
            margin: 0 0 56px 0;
          }

      }
      