@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.categoriesSection{
    width: 70%;
    margin: 10vh auto 10vh auto;
}

.label {
  color: #121212;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
  
  .label::before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #000;
    display: inline-block;
  }

  .description {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color:#121212BF;
    line-height: 1.6;
    margin-bottom: 2rem;
  }


.carouselContainer {
    margin: 5vh 0 0 0;
    padding: 70px 0 70px 0;
    background-color: #f5f5f5; 
    border-radius: 18px;
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
    );
    border-radius: 35px;
  }
  
  .carouselSpacing {
    margin-bottom: 20px;
  }
  
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    margin: 0 10px 0 10px;
    padding: 12px 24px;
    height: 38.73px;
    background-color: none;
    border: #3E73E6 solid 1px;
    color: black;
    font-size: 14px;
    border: #4072e1 solid 1px;
    color: #121212BF;
    font-size: 18.14px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }

  .slide:hover{
    background-color: #3E73E6;
    color: white;
    background-color: #4072e1;
    color: #F2F2F2;
    transition: .5s;
  }
  