@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aboutSection {
    background-color: #121212;
    padding: 4rem 2rem 10rem 2rem;
    position: relative;
    overflow: hidden;
  }

  .entireContent {
    width: 450px;
    padding: 35.335px;
    background: linear-gradient(240deg, rgba(65, 105, 225, 0.26)10%, rgba(65,105,225,0) 50%, rgba(65,105,225,0) 100%);
    border-radius: 30px;
    border-top: 2px solid rgba(0, 96, 199, 0.529);
    border-left: 2px solid rgba(0, 96, 199, 0.529);
    border-bottom: 2px solid rgba(0, 96, 199, 0.529);
  }

  .entireContent2 {
    width: 650px;
    padding: 35.335px;
    border-radius: 30px;
    border-top: 2px solid rgba(0, 96, 199, 0.529);
    border-right: 2px solid rgba(0, 96, 199, 0.529);
    border-bottom: 2px solid rgba(0, 96, 199, 0.529);
  }
  
  .aboutContent {
    width: 80%;
    padding: 10px;
    max-width: 1250px;
    margin: 0 auto;
  }

  .groupDivs{
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .label {
    color: #f2f2f2;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .label::before {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
  }
  
  .yearLabel {
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    color: #666;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  
  .title {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: transparent;
    margin-bottom: 0.5rem;
    background: linear-gradient(90deg, #fff, #4169e1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .description {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px; 
    color: #999;
    max-width: 600px;
    line-height: 1.6;
  }

  @media (max-width: 768px) {

    .groupDivs{
      flex-direction: column;
      gap: 13px;
      align-items: center;
    }

    .description {
      font-size: 12px; 
    }

    .entireContent2 .description{
      font-size: 10px;
    }

    .entireContent {
      width: 344.42px;
    }

    .entireContent2 {
      width: 344.42px;
      padding: 20.335px;
      border-radius: 20px;
    }

    .aboutContent{
      margin: auto;
      padding: 0;
      width: 344.42px;
    }

    .aboutSection{
      padding: 2rem 0 5rem 0;
      align-items: center;
    }

    .label::before {
      width: 36px;
    }

  }